In [25]:
'''
Please refer to the following link for more instructions about using corr and cov function in pandas.

For correlation coefficient:
For series: https://pandas.pydata.org/docs/reference/api/pandas.Series.corr.html#pandas.Series.corr
For DataFrame: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html#pandas-dataframe-corr

For covariance: 
For series: https://pandas.pydata.org/docs/reference/api/pandas.Series.cov.html#pandas-series-cov
For DataFrame: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html#pandas.DataFrame.cov

'''

import pandas as pd

s1 = pd.Series([2, 3, 5, 4, 6])
s2 = pd.Series([5, 8, 10, 11, 14])

print("correlation coefficient:", s1.corr(s2))
print("covariance normalized by n-1:", s1.cov(s2))     #covariance normalized by n-1
print("covariance normalized by n:", s1.cov(s2)*4/5)  #covariance normalized by n as we discussed in class

correlation coefficient: 0.9407208683835973
covariance normalized by n-1: 5.0
covariance normalized by n: 4.0

In [2]:
import pandas as pd

from sklearn.datasets import fetch_california_housing
house = fetch_california_housing()

print(house.data.shape)
print(house.feature_names)

hou = pd.DataFrame(house.data, columns = house.feature_names)

hou.corr()  #calculate the pairwise correlation coefficient between attributes

(20640, 8)
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000